body {
       margin-left: 200px;
       }
#source { 
          float: right;
          }
#header { margin-bottom: 50px;
          }


#blurb {
         width: 155px;
         float: left;
         }

#speech {
          width: 200px;
          }


#meow { 
        height: 100px;
        width: 200px;
        }

#picture {
           float: left;
           height: 200px;
           width: 200px;
           margin-left: 100px
           }

#foods {
         margin-left: 400px
         width: 200px;
         float: left;
         margin-top: 0px; 
         }

#mrow {
        float: left;
        width: 150px;
        margin: 0px 100px 0px 0px;
        
        }

h1 {
     color: #9966CC;
     font-family: sans-serif;
     font-size: 25pt;
     float: right;
     width: 100%;
     text-align: right;
     }

h2 {
     color: #33CCFF;
     font-family: sans-serif;
     font-size: 20pt;
     line-height: 0;
     }

h3 { 
     color: #F36C4F;
     }

h4 { color: red;
     line-height: 0;
     font-size: 8pt;}

p {
    line-height: 0;
    font-family: helvetica;
    font-size: 25pt;
    }

a:link { color: black;
         font-weight: bold;
         
         }

a:visited { color: black;
            font-weight: bold;
            }

a:hover { color: #00A651;
          font-weight: bold;
          }

#foods img {
             float: left;
             border: 0px solid;
             }

.block { 
         width: 100%;
         position: relative;
         float: left;
         }

input { 
        font-weight: bold;
        background: #00A651;
        border: 2px solid black;
        margin: 5px;
        }

.placeholder {
               margin-left: 58px;
               }

#hcolor { 
          float: left;
          height: 200px;
          width: 150px;
          margin-left: 100px;
          }

#hmrow { 
         float: left;
         width: 150px;
         margin-right: 100px;
         }

#hfoods { 
          float: left;
          width: 150px;
          }

.speech-bubble { 
                 background: url('images/bubble.png') no-repeat top right;
                 padding-right: 25px;

                 }

.input-bubble { 
                background: url('images/bubbletext.png') no-repeat top left;
                padding-left: 25px;
                padding-top: 5px;

                }