body {
    margin-left: 200px;
    background: pink;
}

#main {
    width: 100%;
}

#blurb {
    height: 200px;
    width: 200px;
    float: left;
    border-width: 20px;
    border-image: url('images/border3.png') 0 0 round;
    -moz-border-image: url('images/border4.png') 28 repeat;
    -webkit-border-image: url('images/border3.png') 0 0 round;
}

#picture {
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 100px
}

#foods {
    margin-left: 200px
    width: 200px;
    float: left;
    margin-top: 100px;
}

#mrow {
    font-family: helvetica;
    font-size: 25pt;
    line-height: 0px;
    float: left;
    width: 150px;
    margin-top: 100px;
    
}

h1 {
    color: #9966CC;
    font-family: sans-serif;
    font-size: 25pt;
    }

h2 {
    color: #33CCFF;
    font-family: sans-serif;
    font-size: 20pt;
    }

div {
    border: 0px solid black;
}

#foods img {
    float: left;
    border: 0px solid;
}